
/* Create 30 boxes. 6/5. The box can be: 1- Wrong 2-Right 3- Empty 4-right*/
body {
    height: 100%;

}

#container {
    display: grid;
    width: 100%;
    height: 500px;
    place-items: center;
    color: #000;
}

#line {
    width: 100%;
    border: 0.1px solid #6565;
    margin-top: -250px;
}

.parentGrid  {
    display: grid;
    grid-template-columns: repeat(5, auto);
}

.box {
    border: 1px solid;
    width: 50px;
    height: 50px;
    color: #656565;
    display: grid;
    place-items: center;
    text-transform: uppercase;
    margin: 4px;
}

.cor {
    color: #6565;
}

.right {
    background-color: green !important;
    color: white !important;
}

.wrong {
    background-color: gray !important;
    color: white !important;
}

.halfRight {
    background-color: #F8AF00 !important;
    color: white !important;
}

p {
    color: #656565;
    text-align: center;
    font-size: 30px;
    margin-top: 50px;

}
